name: builds the example ref-browser usage of reference-lib
on:
  push:
    branches: ['main']
    paths: ['examples/ref-browser/**', '.github/workflows/examples-ref-browser.yml', 'reference-lib/**']
  pull_request:
    branches: ['main']
    paths: ['examples/ref-browser/**', '.github/workflows/examples-ref-browser.yml', 'reference-lib/**']

defaults:
  run:
    working-directory: ./examples/ref-browser
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: build the reference-lib
        working-directory: ./reference-lib
        run: |
          npm ci
          npm run build
      - run: npm ci
      - run: npm run lint
      - run: npm run build
